In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import seaborn as sns

In [2]:
df1 = pd.read_csv("mumbai.csv")
df1.head()

,price,Address,area,Bedrooms,Bathrooms,Balcony,parking,Lift
0,22400000,"Chembur, Mumbai - Harbour Line, Maharashtra",629,2,2,2,1,2
1,35000000,"Chembur, Mumbai - Harbour Line, Maharashtra",974,3,2,2,1,2
2,31700000,"Ghatkopar East, Mumbai - Central Line, Maharas...",968,3,3,2,1,2
3,18700000,"Plot Number 283, Road Number 3, Jawahar Nagar,...",629,2,2,2,1,3
4,13500000,"malad east, Malad East, Mumbai - North Mumbai,...",1090,2,2,2,1,2

In [3]:
df1.shape

(6255, 8)

In [4]:
df1.columns

Index(['price', 'Address', 'area', 'Bedrooms', 'Bathrooms', 'Balcony',
       'parking', 'Lift'],
      dtype='object')

Address
Mira Road, Mumbai - Mira Road and Beyond, Maharashtra                                                                 154
Andheri West, Mumbai - Western Suburbs, Maharashtra                                                                   129
Andheri East, Mumbai - Western Suburbs, Maharashtra                                                                    81
Chembur, Mumbai - Harbour Line, Maharashtra                                                                            79
Mulund West, Mumbai - Central Line, Maharashtra                                                                        78
                                                                                                                     ...
Mumbai, Mira Road, Mumbai - Mira Road and Beyond, Maharashtra                                                           1
74, Sarayu, Narayan Guru hsg soc ltd. P.L.lokhande marg, Chembur, Mumbai - Harbour Line, Maharashtra                    1
120/46, Anandvan, Sector 1, Charkop, Kandivali West, Mumbai., Sector 1 Charkop, Mumbai - North Mumbai, Maharashtra      1
Avenue H, Bld 27, Flat 701, Virar, Mumbai - Mira Road and Beyond, Maharashtra                                           1
Lokhandwala Complex, Andheri West, Lokhandwala Complex, Mumbai - Western Suburbs, Maharashtra                           1
Name: count, Length: 3632, dtype: int64

array(['Chembur, Mumbai - Harbour Line, Maharashtra',
       'Ghatkopar East, Mumbai - Central Line, Maharashtra',
       'Plot Number 283, Road Number 3, Jawahar Nagar, Off S. V. Road, Goregaon (West), Mumbai, Maharashtra, India 400104, Goregaon West, Mumbai - North Mumbai, Maharashtra',
       ...,
       'bldg no-137, axiom aven, near ganesh mandir, pant nagar, ghatkopar-east, mum-75, Ghatkopar East, Mumbai - Central Line, Maharashtra',
       '502., Hari Om Nagar, Mumbai - North Mumbai, Maharashtra',
       'Lokhandwala Complex, Andheri West, Lokhandwala Complex, Mumbai - Western Suburbs, Maharashtra'],
      dtype=object)

In [7]:
Address_stats_less_than_10 = Address_stats[Address_stats<=10]
Address_stats_less_than_10

Address
Virar East, Mumbai - Mira Road and Beyond, Maharashtra                                                                10
Dadar West, Mumbai - South Mumbai, Maharashtra                                                                        10
Chembur East, Mumbai, Maharashtra                                                                                     10
Dadar East, Mumbai - Central Mumbai, Maharashtra                                                                      10
Wadala, Mumbai - Harbour Line, Maharashtra                                                                            10
                                                                                                                      ..
Mumbai, Mira Road, Mumbai - Mira Road and Beyond, Maharashtra                                                          1
74, Sarayu, Narayan Guru hsg soc ltd. P.L.lokhande marg, Chembur, Mumbai - Harbour Line, Maharashtra                   1
120/46, Anandvan, Sector 1, Charkop, Kandivali West, Mumbai., Sector 1 Charkop, Mumbai - North Mumbai, Maharashtra     1
Avenue H, Bld 27, Flat 701, Virar, Mumbai - Mira Road and Beyond, Maharashtra                                          1
Lokhandwala Complex, Andheri West, Lokhandwala Complex, Mumbai - Western Suburbs, Maharashtra                          1
Name: count, Length: 3573, dtype: int64

In [8]:
df1['Address'] = np.where(df1['Address'].isin(Address_stats[Address_stats <= 10].index), "Other", df1['Address'])

In [11]:
df1.head(3)

,price,Address,area,Bedrooms,Bathrooms,Balcony,parking,Lift
0,22400000,"Chembur, Mumbai - Harbour Line, Maharashtra",629,2,2,2,1,2
1,35000000,"Chembur, Mumbai - Harbour Line, Maharashtra",974,3,2,2,1,2
2,31700000,"Ghatkopar East, Mumbai - Central Line, Maharas...",968,3,3,2,1,2

In [12]:
X = df1[['area', 'Bedrooms', 'Bathrooms', 'Balcony', 'parking', 'Lift']]
y = df1['price']

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
X_train.shape

(5004, 6)

In [15]:
X_test.shape

(1251, 6)

In [16]:
y_train.shape

(5004,)

In [27]:
print(X.columns)

Index(['area', 'Bedrooms', 'Bathrooms', 'Balcony', 'parking', 'Lift'], dtype='object')

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
model= LinearRegression()
#model = DecisionTreeRegressor()
#model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test ,y_test)

0.5132638694521614

In [18]:
from sklearn.metrics import mean_squared_error
import numpy as np
housing_predictions= model.predict(X)
mse= mean_squared_error(y,housing_predictions)
rmse= np.sqrt(mse)

In [19]:
rmse

18836440.35025053

In [20]:
from sklearn.model_selection import cross_val_score
scores= cross_val_score(model,X,y,scoring="neg_mean_squared_error",cv=10)
rmse_scores= np.sqrt(-scores)

In [21]:
def print_scores(scores):
    print("scores",scores)
    print("mean",scores.mean())
    print("standard deviation", scores.std())

In [22]:
print_scores(rmse_scores)

scores [20896849.98358633 19282529.14498498 17916072.728808   16815404.88786454
 20919693.65277916 16996831.33939599 18776243.79145375 14687795.31284339
 16968803.14209084 24601270.71836548]
mean 18786149.470217247
standard deviation 2664788.4543516254

In [23]:
def predict_price(Address, area, Bedrooms, Bathrooms, Balcony, Lift, parking):
    if Address == 'other':
        x = np.zeros(len(X.columns))
    else:
        loc_index = np.where(X.columns == Address)[0][0]
        x = np.zeros(len(X.columns))
        x[loc_index] = 1

    x[0] = area
    x[1] = Bedrooms
    x[2] = Bathrooms
    x[3] = Balcony
    x[4] = Lift
    x[5] = parking

    return model.predict([x])[0]

In [26]:
predict_price('Virar East',500, 2, 2,2,2,2)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
import pickle
with open('with_location_model.pickle','wb') as f:
    pickle.dump(model,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns2.json","w") as f:
    f.write(json.dumps(columns))